<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>GET request</title>
    <style>
        *{
            background-color: #D4D4D4;
        }
        center{
            padding-top: 250px;
        }
        input{
            margin: 10px;
        }
        .btn{
            transition-duration: 0.4s;
        }
        .btn:hover{
            cursor: pointer;
            background-color: red;
            border: 0px;
            transition: all 0.8s;
        }
    </style>
</head>
<body><center>
    <h1>Django Calculator</h1>
    
    <form action = "../add/", method = "GET">

        Enter first value : <input type = "number", name = "first"><br>

        Enter second value : <input type = "number", name = "second"><br>

        <input type = "submit" name = "add" value = "add" class = "btn btn-dark">
        <input type = "submit" name = "add" value = "sub" class = "btn btn-dark">
        <input type = "submit" name = "add" value = "mul" class = "btn btn-dark">
        <input type = "submit" name = "add" value = "div" class = "btn btn-dark">

    </form>

    </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>